<div class="container mt-5 w-50">
  <div class="card p-4">
    <h1>Exemplo *ngFOR</h1>
    <h4>Listagem de Alunos</h4>
    <ul>
      <app-item-aluno
        *ngFor="let itemAluno of alunos; let first = first"
        [idade]="itemAluno.idade"
        [nome]="itemAluno.nome"
        [nota]="itemAluno.nota"
      >
      </app-item-aluno>
    </ul>

    <p *ngIf="!alunos?.length">Não há alunos matriculados</p>
  </div>

  <hr class="hr my-4" />

  <div class="card p-4">
    <h1>Exemplo Interpolação / Two-way data binding</h1>

    <div class="mb-3">
      <label for="nota" class="form-label">Informe a nota do aluno</label>
      <input
        [(ngModel)]="alunoIndividual.nota"
        type="number"
        min="0"
        max="10"
        minlength="1"
        maxlength="2"
        class="form-control"
        id="nota"
        placeholder="Informe a nota"
      />
    </div>
    <h3>
      Esse aluno {{ alunoIndividual.nome }} com nota
      {{ alunoIndividual.nota }} e está
      <span *ngIf="alunoIndividual.nota < 4" class="badge bg-danger"
        >reprovado</span
      >
      <span *ngIf="alunoIndividual.nota >= 7" class="badge bg-success"
        >aprovado</span
      >
      <span
        *ngIf="alunoIndividual.nota >= 4 && alunoIndividual.nota < 7"
        class="badge bg-warning"
        >de exame</span
      >
    </h3>
  </div>

  <hr class="hr my-4" />

  <div class="card p-4">
    <h1>Exemplo Property binding em propriedades do HTML</h1>
    <img
      [height]="100"
      [width]="100"
      [src]="configImage.urlIonic || configImage.urlAngular"
      [alt]="
        configImage.ehAppAngular ? configImage.altAngular : configImage.altIonic
      "
    />

    <h1 [class.personalizada]="desejaPersonalizar">
      Exemplo Classe personalizada
    </h1>
    <h1 [style.color]="!desejaPersonalizar ? 'red' : 'green'">
      Exemplo Style personalizado
    </h1>
  </div>

  <hr class="hr my-4" />

  <div class="card p-4">
    <h1>Exemplos Binding entre componentes</h1>
    <app-base-button></app-base-button>

    <app-base-button [titulo]="'Salvar'" (cliqueDoBotao)="salvar()" [classeCor]="'btn-primary'"></app-base-button>

    <app-base-button titulo="Cancelar" classeCor="btn-danger" (cliqueDoBotao)="cancelar()"></app-base-button>

    <app-base-button titulo="Voltar" (cliqueDoBotao)="voltar()"></app-base-button>
  </div>
</div>
