<div class="container mt-5 w-50">
  <h1>Aluno</h1>

  <p>Aluno {{ alunoIndividual.nome }} tem {{ alunoIndividual.idade }} anos</p>

  <div class="mb-3">
    <label for="nota" class="form-label">Informe a nota do aluno</label>
    <input
      [(ngModel)]="alunoIndividual.nota"
      type="number"
      min="0"
      max="10"
      minlength="1"
      maxlength="2"
      class="form-control"
      id="nota"
      placeholder="Informe a nota"
    />
  </div>
  <h5>
    Esse aluno com nota {{ alunoIndividual.nota }} e está
    <span *ngIf="alunoIndividual.nota < 4" class="badge bg-danger"
      >reprovado</span
    >
    <span *ngIf="alunoIndividual.nota >= 7" class="badge bg-success"
      >aprovado</span
    >
    <span
      *ngIf="alunoIndividual.nota >= 4 && alunoIndividual.nota < 7"
      class="badge bg-warning"
      >de exame</span
    >
  </h5>

  <hr class="hr my-4" />

  <h1>Listagem de Alunos</h1>

  <ul>
    <!-- <pre>{{ alunos | json}}</pre> -->

    <li *ngFor="let aluno of alunos">
      <h5>
        Esse aluno com nota {{ aluno.nota }} e está
        <span *ngIf="aluno.nota < 4" class="badge bg-danger">reprovado</span>
        <span *ngIf="aluno.nota >= 7" class="badge bg-success">aprovado</span>
        <span *ngIf="aluno.nota >= 4 && aluno.nota < 7" class="badge bg-warning"
          >de exame</span
        >
      </h5>
    </li>
  </ul>
</div>
