  <div
    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0">{{ item?.titulo }}</h3>
      <p class="card-text mb-auto">
        {{ item?.descricao }}
      </p>
      <h4 class="card-text text-success mb-auto">
        {{ item?.valor }}
      </h4>
      <!-- <a class="btn btn-primary my-2" (click)="adicionarAoPedido()">Adicionar ao pedido</a> -->
      <div class="row">
        <div class="col-auto">
          <a class="btn btn-secondary my-2" (click)="diminuirQuantidade()">-</a>
          {{ quantidade }}
          <a class="btn btn-secondary my-2 ml-0 pl-0" (click)="incrementarQuantidade()">+</a>
        </div>
        <div class="col">
          <a class="btn rounded btn-primary mr-0 my-2" (click)="adicionarItensAoPedido()">Adicionar</a>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <img height="200" width="200" [src]="item?.enderecoImagem" alt="" />
    </div>
  </div>
