/* You can add global styles to this file, and also import other style files */
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
  }
  
  main {
    margin-top: 4rem;
  }
  
  .list-group {
    width: auto;
    max-width: 500px;
    margin: 4rem auto;
  }