<!-- conteudo -->
  <div class="list-group d-flex">
    <a
      *ngFor="let item of listaDeNotificacoes"      
      href="#"
      (click)="chamarClique()"      
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      <img
        src="{{ item.imagem }}"
        alt="twbs"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0"
      />
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ item.titulo }}</h6>
          <p class="mb-0 opacity-75">
            {{ item.descricao }}
          </p>
        </div>
        <small class="opacity-50 text-nowrap">{{ item.tempoPublicacao }}</small>
      </div>
    </a>
  </div>
